html { font-family: sans-serif; /* 1 */ font-size: 100%; -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

body { margin: 0; }

footer { display: block; }

[hidden], template { display: none; }

a { background: transparent; }

a:active, a:hover { outline: 0; }

img { width: 100%; border: 0; }

svg:not(:root) { overflow: hidden; }

/*  Remove default list styles, margins, and padding.*/
ol, ul { margin: 0; padding: 0; list-style: none; }

html, body { height: 100%; width: 100%; }

div { display: block; }

.sky { z-index: 0; background-color: #70cacb; position: fixed; top: 0; bottom: 0; right: 0; left: 0; margin: auto; }

footer a, footer { -moz-box-sizing: border-box; box-sizing: border-box; }

footer a { text-decoration: none; }
footer a:hover { cursor: pointer; }

footer a { background: #f7abbf; border: 1px solid #f7abbf; border-radius: 5px; padding: .25em .5em; }
footer a:hover { background-color: #d191a2; border-color: #946672; cursor: pointer; }

footer { background: #c34599; z-index: 5; position: fixed; top: auto; bottom: 0; right: 0; left: 0; height: 3em; line-height: 1.45; padding: .5em; }

footer ul { height: 3.25em; }

footer ul li { display: inline-block; text-align: right; }
footer ul li:nth-child(n) { padding: .25em .5em; }
footer ul li:last-child { position: absolute; right: .25em; bottom: .25em; }

footer a { display: inline-block; text-align: center; }

#cloudOne, #cloudTwo { z-index: 1; background: white; position: fixed; right: auto; bottom: auto; width: 21vmin; height: 6vmin; border-radius: 6vmin; }
#cloudOne:before, #cloudTwo:before, #cloudOne:after, #cloudTwo:after { z-index: 1; content: ''; position: absolute; background: white; border-radius: 6vmin; }
#cloudOne:before, #cloudTwo:before { width: 12vmin; height: 12vmin; top: -6vmin; left: 3vmin; }
#cloudOne:after, #cloudTwo:after { width: 6vmin; height: 6vmin; top: -3vmin; right: 3vmin; }

#cloudOne { top: 12vmin; left: 8vmin; }

#cloudTwo { -webkit-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); top: 25vmin; left: 25vmin; }

#hillBack, #hillFront { position: fixed; bottom: 0; top: 66.6667%; margin: auto; }

#hillBack { z-index: 1; background-color: #45995a; right: auto; left: 0; width: 80%; border-radius: 0 100% 0 0; }

#hillFront { z-index: 2; background-color: #5cb573; right: 0; left: auto; width: 110%; border-radius: 100% 0 0 0; }

#cow-svg { z-index: 3; position: fixed; right: 10%; left: auto; top: 0; bottom: 0; height: 100%; margin: 0 auto; }
