//Reset
    @import 'partials/_normalize.scss' ;

//Variables
    @import 'partials/_variables.scss' ;

//Mix-ins

//Globals
    @import 'partials/_backgroundscene.scss' ;
    
//Components
	@import 'partials/_clouds.scss' ;
    @import 'partials/_hills.scss' ;
    @import 'partials/_cow.scss' ;
