#cowContainer {
    position: fixed;
    top:20%;
    bottom:20%;
    right:10%;
    left:auto;
    margin: auto;
//    width: 30%;
//    height: 60%;
}
#cowAndBalloons {
    width: auto;
    height: 100%; 
}