%border-box {
	box-sizing: border-box;
}
%link {
    text-decoration: none;
    font-family: $primaryFontFamily;
    letter-spacing: normal;
    &:hover{cursor: pointer;}
}
%button {
	@extend %border-box;
    background: $buttonBgColor;
    color: $buttonFontColor;
    font-size: $buttonFSize;
    text-align: center;
	border-radius: .25rem;
	padding: .25rem .5rem;  
	box-shadow: .125rem .125rem .125rem  $mediumGray;
    &:hover {
    	background-color: $buttonHoverBgColor ;
    	color: $buttonHoverFontColor ;
    }
    &:active {
    	background-color: mix(black, $buttonHoverBgColor, 15%) ;
    }
}

footer {
	@extend %border-box;
	// background: $footerBgColor;
	z-index: 5;
	position: fixed;
	top: auto;
	bottom: 0;
	right: 0;
	left: 0;
	height: $footerHeight ;
	line-height: 1.5;
	padding: .5rem .5rem;
}
footer ul li {
	display: inline-block;
	// padding: .5rem;
	font-size: $footerFSize;
	color: $footerFontColor;
}

footer a {
	@extend %link;
	display: inline-block;
}
.button {
	@extend %button;
}